body{
    background-color: white;
   
}
.first_page{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    
}
#image{
    margin-top: 10vh;
    margin-left: 5vh;
   width: 20%;
   height: 20vh;
   background-color: #f2f2f26f;
   box-shadow: inset 0 0 20px rgba(78, 78, 78, 0.48);
   border-radius: 20px;
}
#image1{
    margin-top: 10vh;
    margin-left: 5vh;
   width: 10%;
   height: 10vh;
   background-image: url('/Users/subhomkole/Documents/HTML/Portfolio/Screenshot 2024-06-21 at 11.00.21 PM.png');
   background-position: center;
   position: relative;
   background-repeat: no-repeat;
   background-size: cover;
}
button{
    width: 10%;
    height: 10vh;
}